body {
    background-color: #383838;
    color: white;
}

input {
    height: 25px;
    width: 220px;
}

a:visited {
	color: white;
	text-decoration: none;
}

#title {
    margin-top: 100px;
    padding-top:120px;
    text-align: center;
}

#login_square {
    background-color: black;
    width: 100px;
    height: 100px;
    margin-top: 200px;
    margin-left: 49vw;
}

#invalid_error {
	position: absolute;
	margin-top: 50px;
	margin-left: 47%;
	color: #e32e1e;
}

#login_form {
margin-top: 100px;

text-align: center;
font-size: 18pt;
}


#signUpButton{
	position: absolute;
	margin-top: -450px;
	margin-left: 85%;
}

#submit {
    width: 100px;
    height: 20px;
    margin-left: 225px;
}


