body {
    background-color: #383838;
    color: white;
    text-align: center;
}

a{
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

#contentDiv {
    margin-top: 20%;
}

#pictureDiv {
    position: absolute;
    border: solid black;
    height: 100px;
    width: 100px;
    border-radius: 35px;
    margin-top: -150px;
    margin-left: 46.7%;
}

